@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body{
    height: 90%;
    background: rgb(207, 175, 255);
}

h2{
    margin-bottom: 15px;
}

.nav-item .active{
    margin-top: 10px;
    background-color: rgb(231, 216, 255);
    box-shadow: -5px 1px 5px 2px #b24eff;
    border-radius: 15px;
    padding: 1px;

}

.nav-link .nav-item .active{
    color: white;
}

.navbar-toggler{
    color: #ffff;
}

.navbar-toggler-icon{
    color: #ffff;
}

.navbar-collapse{
    text-align: center;
    color: white;
}

.nav-link{
    color: white;
}

.list-group-item{
    color: #5d00a3;;
}
.judulhalaman{
    width: 3000px;
    text-align: center;
    
}

.nav-link{
    color: #eed8ff;
}

.judulhalaman h2{
    color: #ffff;
    text-shadow: -7px 0px 5px #b24eff;
}

.shapecard{
    height: 490px;
    width: 380px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: -7px 0px 10px 0px #b24eff;
}

ul li {
    list-style-type: none;
    list-style: none;
    padding: 5px;
}

.list-group{
    margin-left: -6px;
}

.list-group-item{
    padding-top: 10px;
    font-size: 14px;
    background-color: transparent;
}

.footer{
    margin-top: 30px;
    margin-right: 5px;
    font-size: smaller;
    opacity: 0.8;
    margin-bottom: 20px;
}